<nav class="navbar " role="navigation" aria-label="main navigation">
    <div class="navbar-title">
        <a class="navbar-item" href="/photos"> photoExpress </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    
    <div class="navbar-menu navbar-end">
        <a class="navbar-item" href="/photos/new"> New Product </a>
    </div>
</nav>