<nav class="navbar " role="navigation" aria-label="main navigation">
    <div class="navbar-title">
        <a class="navbar-item" href="/photos"> photoExpress </a>

    </div>

    
    <div class="navbar-menu navbar-end">
        <a class="navbar-item" href="/photos/new"> Add Photo </a>
    </div>
</nav>