<nav class="navbar " role="navigation" aria-label="main navigation">
    <div class="navbar-title">
        <a class="navbar-item" href="/photos"> photoExpress </a>

    </div>

    
    <div class="navbar-menu navbar-end">
        <% if (typeof user !== 'undefined') { %>
            <p class="navbar-item"><%= user.username %></p>
            <% } %>
            <!-- routes -->
            <% if (typeof routes !== 'undefined') { %> <% routes.forEach((route) => { %>
            <a class="navbar-item" href="<%= route.href %>"> <%= route.title %> </a>
            <% }) %> <% } %>
    </div>
</nav>