<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include( '../partials/head.ejs' , {page: 'Photos' } ) %>

    <body>
        <%- include ( '../partials/nav') %>
        <section class="title-sec">
            <div class="title-body">
                <p class="title">photoExpress</p>
            </div>
        </section>
        
        <main class ="indexMain">
            <div>
                
            </div>
        </main>
    </body>

</html>