html {
    height: 100%;
}
body {
    min-height: 100%;
    max-width: 100vw;
    background-color: rgba(46, 31, 31, 1);
}
.navbar {
    background-color: rgba(25,150,227,0.5)
}

.navbar-item {
    color:whitesmoke;
    font-weight: bold;
    font-size: large;
}

/* Title section */
.title-sec {
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: rgba(25,150,227,0.5);
    padding: 10px;
    font-size: 60px;
}

/* index page */

.indexShow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em 2em;
}

.card {
    background-color: rgba(25,150,227,0.5);
}
.card-content {
    display: flex;
    justify-content: center;
}
.content {
    font-weight: bold;
    font-size: large;
}

.picName {
    color: whitesmoke;
}

/*  page */

.showPhoto {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.show {
    height: 40vh;
    max-width: 50vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.commentField {
    display: flex;
    flex-direction: column;
}

.commentPageText {
    color: whitesmoke;
}

.comments {
    justify-self: center;
}

/* newpage */

.main-add {
    display: flex;
    justify-content: center;
}
.addPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addPhoto label {
    color: whitesmoke;
}

#addButton {
    background-color: rgba(25,150,227,0.5);
    color: whitesmoke;
}

/* edit page */

.main-edit {
    display: flex;
    justify-content: center;
}

.edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editPhoto {
    display: flex;
    flex-direction: column;
}

.editPhoto label {
    color: whitesmoke;
}

.editButton {
    height: 60px;
    width: 100%;
    border-radius: 1ex;
}

#edit {
    background-color: rgba(25,150,227,0.5);
    color: whitesmoke;
}

#cancel {
    background-color: whitesmoke;
}

#delete {
    background-color: rgba(232,0,31, 1)
}